
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  font-size: 1.6rem;
   margin: 0;
  font-family:'Poppins',  'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: rgb(58, 61, 65); 
}
code {
  font-family: "Roboto", Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
